::ng-deep .my-class .modal-dialog { 
    max-width: 70%;
}

.nav-decla{
    background-color: #fcc79d !important;
}

.nav-recha{
    background-color: #f7b9b9!important;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #fdb477!important;
}

.border_head{
    padding-top: 10px !important;
    border-bottom: 1px solid #ccc!important;
}

.card-header{
    background-color: #2b0d61;
    color: #fff;
}

.card{
    border-radius: 0px;
}
