<div class="row ml-1 mb-2" *ngIf="showBotones">
    <nav class="nav nav-pills nav-fill">
        <a *ngIf="tipoTab == 0 || tipoTab == 1" class="nav-link nav-decla {{declararActive}} mr-2" style="cursor: pointer; color: #f06f06" (click)="tabControl(1, false)">
            <span *ngIf="!stateTituloSiniestro" >Declarar siniestro</span>
            <span *ngIf="stateTituloSiniestro" >Editar siniestro</span>
        </a>
        <a *ngIf="tipoTab == 0 || tipoTab == 2" class="nav-link nav-decla {{modificarActive}} mr-2" style="cursor: pointer; color: #f06f06" (click)="tabControl(2)">
            <i class="fa fa-edit mr-1"></i>Modificar
        </a>
        <a *ngIf="tipoTab == 0 || tipoTab == 3" class="nav-link nav-recha" style="cursor: pointer; color: #f00606" (click)="rechazarCaso()">
            <i class="fa fa-close mr-1"></i>Rechazar
        </a>
    </nav>
</div> 
<div *ngIf="tipoTab != 1">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label *ngIf="tipoForm">Póliza</label>
                    <label *ngIf="!tipoForm">Nro. de caso</label>
                    <input class="form-control" [placeholder]="!this.tipoForm ? 'Escribir nro. de caso' : 'Escribir nro. de poliza'" (keyup.enter)="buscador()" [disabled] = "tipoTab == 2">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Certificado</label>
                    <input class="form-control" [(ngModel)]="tratamientoCaso.certificado" disabled>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Nro. de placa</label>
                    <input class="form-control" [(ngModel)]="tratamientoCaso.nroPlaca" disabled>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label *ngIf="!tipoForm">Póliza</label>
                    <label *ngIf="tipoForm">Nro. de caso</label>
                    <input class="form-control" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Fecha de ocurrencia</label>
                    <div class="input-group">
                        <input type="date" class="form-control" [disabled]="!tipoForm" [(ngModel)]="tratamientoCaso.fechaOcurrencia">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Hora de ocurrencia</label>
                    <div class="input-group">
                        <input type="time" class="form-control" [disabled]="!tipoForm" [(ngModel)]="tratamientoCaso.horaOcurrencia">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Culpabilidad</label>
                    <select class="form-control" [disabled]="!tipoForm">
                        <option>Culpable</option>
                      </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Causa de siniestro</label>
                    <select class="form-control" [disabled]="!tipoForm">
                        <option>Exceso de velocidad</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 form-group">
                <label>Inicio de vigencia</label>
                <div class="input-group">
                    <input class="form-control" [(ngModel)]="tratamientoCaso.inicioVigencia" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label>Fin de vigencia</label>
                <div class="input-group">
                    <input class="form-control" [(ngModel)]="tratamientoCaso.finVigencia" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Nombre del contratante</label>
                    <input class="form-control" [(ngModel)]="tratamientoCaso.contratante" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Tipo de documento - documento contratante</label>
                    <input class="form-control"  [(ngModel)]="tratamientoCaso.documentoContratante" disabled>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Nombre del conductor</label>
                    <input type="text" [(ngModel)]="tratamientoCaso.nombreConductor" class="form-control"  [disabled]="!tipoForm && tipoTab != 2" >
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Tipo de documento - documento conductor</label>
                    <input type="text" [(ngModel)]="tratamientoCaso.documentoConductor" class="form-control" [disabled]="!tipoForm && tipoTab != 2"  >
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Fecha de nacimiento conductor</label>
                    <div class="input-group">
                        <input type="date" class="form-control" [disabled]="!tipoForm && tipoTab != 2" [(ngModel)]="tratamientoCaso.fechaNacimiento">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Ubicación</label>
                    <input type="text" [(ngModel)]="tratamientoCaso.ubicacion" class="form-control"  [disabled]="!tipoForm && tipoTab != 2" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Referencia</label>
                    <input type="text" [(ngModel)]="tratamientoCaso.referencia" class="form-control"  [disabled]="!tipoForm && tipoTab != 2" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Delegación</label>
                    <input type="text" class="form-control" [disabled]="!tipoForm && tipoTab != 2"  [(ngModel)]="tratamientoCaso.delegacion">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Departamento</label>
                    <select class="form-control" [disabled]="!tipoForm && tipoTab != 2" >
                        <option>Lima</option>
                      </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Provincia</label>
                    <select class="form-control" [disabled]="!tipoForm && tipoTab != 2">
                        <option>Lima</option>
                      </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Distrito</label>
                    <select class="form-control" [disabled]="!tipoForm && tipoTab != 2">
                        <option>San Isidro</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Observación</label>
                    <input type="text" class="form-control" [disabled]="!tipoForm && tipoTab != 2"  [(ngModel)]="tratamientoCaso.observacion">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="tipoForm">
            <div class="col-sm-12" align="end">
                <button class="btn btn-success mb-3" (click)="saveCaso()">Guardar</button>
            </div>
        </div>
        <div class="row" *ngIf="tipoTab == 2">
            <div class="col-sm-12" align="end">
                <button class="btn mr-2 mb-3" (click)="opcionVolver()">Volver</button>
                <button class="btn btn-success mb-3">Guardar</button>
            </div>
        </div>
        <!-- RECHAZAR -->
        <div class="row" *ngIf="tipoTab == 3">
            <div class="col-sm-5 form-group">
                    <label>Motivo de rechazo</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
            </div>
            <div class="col-sm-7" align="end">
                <button class="btn mr-2 mt-3" (click)="opcionVolver()">Volver</button>
                <button class="btn btn-success mt-3">Guardar</button>
            </div>
        </div>
    
    <div class="row" *ngIf="showBotones && tipoTab == 0">
        <div class="col-sm-12" style="padding-top: 10px !important; padding-bottom: 10px !important; border-top: 1px solid #ccc!important;">
            <h3>Siniestros asociados</h3>
        </div>
        <table class="table table-striped w-100">
            <thead>
              <tr>
                <th scope="col">Nro de siniestro</th>
                <th scope="col">Afectado</th>
                <th scope="col">Tipo de ocupante</th>
                <th scope="col">Fecha de apertura</th>
                <th scope="col">Fecha de rechazo</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">458788</th>
                <td>Luis Escobar</td>
                <td>O - Ocupante</td>
                <td>02/01/2023</td>
                <td>25/04/2023</td>
                <td>
                    <button class="btn btn-primary mr-3" (click)="consultaSiniestro()"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-success" (click)="tabControl(1, true)"><i class="fa fa-edit"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">458789</th>
                <td>Andres Palacios R.</td>
                <td>T - Tercero</td>
                <td>02/01/2023</td>
                <td>-</td>
                <td>
                    <button class="btn btn-primary mr-3"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-success"><i class="fa fa-edit"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div *ngIf="tipoTab == 1">
    <app-form-siniestro (cancelBool)="siniestroCancel($event)"></app-form-siniestro>
</div>