<div id="cabecera" class="container-fluid {{activarStyle()}}" style="background: rgb(240, 238, 237);margin-left: 0px;float: top;z-index:4;top:0;">
    <div class="row" >
        <div class="col-lg-1 mt-4 mb-4 ml-4 mr-2 col-md-1 col-sm-2 col-1" >
           <span class="fa fa-bars"  style="font-size:30px;cursor:pointer" (click)="openNav()"></span> 
        </div>
        <div class="col-lg-5 mt-1 mb-1 col-md-8 col-sm-8 col-8"  >
            
            <a  (click)="Home()" style="cursor: pointer;">
                <img src="assets/img/logo.png" alt="Protecta Security"  style="position: relative;height:100px" >
            </a>
            
        </div>
        <div class="col-lg-5 mt-5 mb-4 col-md-1" align="end">
            <span class="mt-3"><strong>Usuario: </strong>{{usuario}}</span>
            <button class="btn btn-busqueda btn-busqueda ml-2" (click)="logOut()">
                <i class="fa fa-sign-out"></i> Salir
            </button>
        </div>
    </div>   
 

</div>


<!-- <div class="d-flex">
    <div class="p-2">
        <span class="fas fa-bars" style="font-size:30px;cursor:pointer"></span>
    </div>
    <div class="p-2">
        <img src="assets/img/logo.png" alt="Protecta Security" style="position: relative;height:100px">
    </div>
    <div class="ml-auto p-2">
        <span>{{usuario}}</span>
    </div>
  </div> -->
<div *ngIf="Ocultar()" id="cabecera" class="container-fluid"  
style="background: rgb(240, 238, 237);margin-left: 0px;float: top;z-index:4;top:0;">

    <div class="row" >
        <div class="col-sm-1 mt-4 mb-4 ml-4 mr-2" >
            <span class="fas fa-bars"  style="font-size:30px;cursor:pointer" ></span>
        </div>
        <div class="col-sm-5 mt-1 mb-1 " (click)="Home()"  style="cursor: pointer;">
            <img src="assets/img/logo.png" alt="Protecta Security"  style="position: relative;height:100px">
        </div>
       
    </div>   


</div>

<div class="sidenav" #mySidenav >

    
    <div  *ngFor="let option of optionList; let index = index;" (click)="activeSidenav(index)" id="{{index}}">
       
        <a *ngIf="option.nTieneHijo == 1" style="white-space: nowrap;" >
            <span  class="fa fa-angle-right col-lg-1"  style="font-size:20px;cursor:pointer"></span>
            
            <span class="col-lg-11"  style="cursor:pointer">{{ option.sName }}</span>
            
        </a>
        <a *ngIf="option.nTieneHijo == 0" [routerLink]="['/' + option.sRouterLink]"  style="white-space: nowrap;">
            <span *ngIf="option.nTieneHijo == 1" class="fas fa-angle-right col-lg-1"  style="font-size:20px;cursor:pointer"></span>
            
            <span class="col-lg-11"  style="cursor:pointer">{{ option.sName }}</span>
            
        </a>
        
        
        
        <div *ngFor="let subM of option.subgruposnuevos" class="sideNav2 col-lg-12">
            <div id="{{ subM.sName }}">
                <a  [routerLink]="['/' + subM.sRouterLink]" style="white-space: nowrap;"  (click)="closeNav()">{{ subM.sName }}</a>
            </div>
           
        </div>
        
        <hr>

    </div>
    <!-- <div class="close-window col-lg-11" style="cursor: pointer;white-space: nowrap;" >
        <a>Cerrar Sesión</a>
    
    
</div>  -->
</div>