.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #27246d!important;
}

.border_head{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #ccc!important;
}

.body-gastos{
    margin-left: 8% !important;
    margin-right: 8% !important;
}
.table-gastos{
    margin-left: 8% !important;
    margin-right: 8% !important;
}

::ng-deep .my-class .modal-dialog { 
    max-width: 80% !important;
    /*width: 80% !important;*/
}

.btn-busqueda{
    background-color: rgb(235, 156, 9);
    color: white
}

.color_fila{
    background-color: rgba(0,0,0,.05) !important;
}
/*
.card{
    border-radius: 0px;
}*/

.card-header{
    background-color: #2b0d61;
    color: #fff;
}

