.border_head{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #ccc!important;
}

.body-gastos{
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.btn-busqueda{
    background-color: rgb(235, 156, 9);
    color: white
}