<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row border_head">
        <div class="col-sm-12">
            <h3>Liquidaciones pendientes de Siniestros de SOAT</h3>
        </div>
    </div>
</div>
<div class="body-gastos mt-3">
    <div class="row" style="border-bottom: 1px solid #ccc!important;">
        <div class="col-sm-3 form-group">
            <label>Caso</label>
            <input class="form-control" [(ngModel)]="caso" type="number" (keyup.enter)="EventoBuscar($event)">
        </div>
        <div class="col-sm-3 form-group">
            <label>Nro. de siniestro</label>
            <input class="form-control" [(ngModel)]="siniestro" type="number" (keyup.enter)="EventoBuscar($event)">
        </div>
        <div class="col-sm-3" align="end">
            <p class="pb-0 mb-0">&nbsp;</p>
            <button class="btn btn-busqueda" (click)="buscadorMovimientos()">
                <i class="fa fa-search mr-1"></i> Buscar
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-3 form-group">
            <label>Póliza</label>
            <input class="form-control" [(ngModel)]="detalle.NPOLICY" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Fecha de ocurrencia</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="detalle.DOCCURDAT" disabled>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 form-group">
            <label>Hora de ocurrencia</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="detalle.HORAOCURRENCIA" disabled>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Siniestrado</label>
            <input class="form-control" [(ngModel)]="detalle.SCLIENAME" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>UIT</label>
            <input class="form-control" [(ngModel)]="detalle.UIT" disabled>
        </div>
    </div>
    
    <table  class="table w-100 mt-2"><!--table-striped-->
        <thead>
            <tr>
              <th scope="col" ></th>
              <th scope="col" style="text-align: center;">Nro. Siniestro</th>
              <th scope="col" style="text-align: center;">Nro. Cobertura</th>
              <th scope="col" style="text-align: center;">Cobertura</th>
              <th scope="col" style="text-align: center;">Importe</th>
              <!--<th scope="col" style="text-align: center;">Importe Cobertura</th>-->
              <th scope="col" style="text-align: center;">Cant. Beneficiarios</th>
              <th scope="col" style="text-align: center;">Dato Adicional</th>
            </tr>
          </thead>
          <tbody *ngIf="mostrarTable">
            <tr *ngFor="let movimiento of movimientos; let i = index"  [ngClass]="{'color_fila': movimientos[i].NROBENEF == 0 }">
                <td style="text-align: center;">
                    <div class="form-check">
                        <input [(ngModel)]="movimiento.SELECCION" class="form-check-input position-static" type="checkbox" (change)="seleccionChechbox(movimiento)" [disabled]=" movimientos[i].NROBENEF == 0 ? true : false " >
                    </div>
                </td>
                <!--<td>{{i+1}}</td>-->
                <!--<td></td>-->
                <td style="text-align: center;">{{movimiento.NCLAIM}}</td>
                <td style="text-align: center;">{{movimiento.NCOVER}}</td>
                <td style="text-align: center;">{{movimiento.DESC_COBERTURA}}</td>
                <td style="text-align: center;">{{movimiento.PAGOS_PEND_BENEF | number:'1.2-2'}}</td>
                <!--<td style="text-align: right;">{{movimiento.PENDIENTES | number:'1.2-2'}}</td>-->
                <td style="text-align: center;">{{movimiento.NROBENEF}}</td>
                <td style="text-align: center;">{{movimiento.DATO_ADICIONAL}}</td>
            </tr>
          </tbody>
    </table>

    <div class="row mt-3" *ngIf="mostrarTable">
        <div class="col-sm-12" align="end">
            <button class="btn btn-success mb-3" (click)="procesoPago()">Proceso de pago</button>
        </div>
    </div>
</div>
