.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #27246d!important;
}

.border_head{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #ccc!important;
}

.body-reserva{
    margin-left: 20% !important;
    margin-right: 20% !important;
}

.table-reserva{
    margin-left: 10% !important;
    margin-right: 10% !important;
}

::ng-deep .my-class .modal-dialog { 
    max-width: 60%;
}

.btn-busqueda{
    background-color: rgb(235, 156, 9);
    color: white
}
