<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row border_head">
        <div class="col-sm-8">
            <h3>Reserva de siniestro</h3>
        </div>
        <div class="col-sm-4 text-end float-end">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-link {{registroActive}}" style="cursor: pointer;" (click)="tabControl(1)">Registrar</a>
                <a class="nav-link {{consultaActive}}" style="cursor: pointer;" (click)="tabControl(2)">Consultar</a>
            </nav>
        </div>
    </div>
</div>
<div class="body-reserva mt-3">
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Caso</label>
            <input class="form-control" type="number" (keyup.enter)="buscadorSiniestro()" [(ngModel)]="claimRequest.NCASE">
        </div>
        <div class="col-sm-3 form-group">
            <label>Nro. de siniestro</label>
            <select class="form-control" (change)="buscadorGlobal()" [(ngModel)]="siniestro">
                <option *ngFor="let sntro of siniestros" [value]="sntro.CODIGO" [disabled]="sntro.CODIGO == 0">{{sntro.DESCRIPCION}}</option>
            </select>
        </div>
        <div class="col-sm-3 form-group">
            <label>Póliza</label>

            <input class="form-control" disabled [(ngModel)]="reservaCaso.NPOLICY">
        </div>
        <div class="col-sm-3 form-group">
            <label>Certificado</label>
            <input class="form-control" disabled [(ngModel)]="reservaCaso.NCERTIF">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Afectado</label>
            <input class="form-control" disabled [(ngModel)]="reservaCaso.SCLIENAME">
        </div>
        <div class="col-sm-3 form-group">
            <label>Fecha de ocurrencia</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="reservaCaso.DOCCURDAT">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 form-group">
            <label>Hora de ocurrencia</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled [(ngModel)]="reservaCaso.HORAOCURRENCIA">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Tipo de atención</label>
            <select class="form-control" disabled [(ngModel)]="reservaCaso.STIPOATENCION">
                <option *ngFor="let atencion of (tiposAtencion) | async" [value]="atencion.SCODIGO">{{atencion.SCODIGO}} - {{atencion.SDESCRIPCION}}</option>
            </select>
        </div>
        <div class="col-sm-3 form-group">
            <label>UIT</label>
            <input class="form-control" disabled [(ngModel)]="reservaCaso.UIT">
        </div>
    </div>
</div>
<div class="table-reserva mt-3 pb-4" *ngIf="showTable">
    <table class="table table-striped w-100">
        <thead>
            <tr>
                <th scope="col">Afectado</th>
                <th scope="col">Moneda</th>
                <th scope="col">Cobertura</th>
                <th scope="col">UIT</th>
                <th scope="col">Suma asegurada</th>
                <th scope="col">Tipo movimiento</th>
                <th scope="col">Monto reserva</th>
                <th scope="col">Nro. de carta</th>
                <th scope="col">Reserva acumulada</th>
                <th scope="col">Datos adicionales</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claim of reservaCaso.LISTA_COVERCLAIM; let i = index">
                <td>{{claim.SCLIENT}} - {{claim.SCLIENAME}}</td>
                <td>{{claim.SCURRDES}}</td>
                <td>{{claim.NCOVER}} - {{claim.SDESCOVER}}</td>
                <td>{{claim.NDAMAGES}}</td>
                <td>{{claim.NSUMINSURED}}</td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-offset-3" [(ngModel)]="tipoMovimiento[i]" ngDefaultControl>
                            <label class="radio-inline" style="vertical-align:middle;">
                                <input type="radio" [name]="i" [id]="i" value="A" [disabled]="disabledCobertura && posicion == i"/> <i class="fa fa-arrow-up"></i>
                            </label>
                            <label class="radio-inline" style="vertical-align:middle;">
                                <input type="radio" [name]="i" [id]="i" value="D" [disabled]="disabledCobertura  && posicion == i" /> <i class="fa fa-arrow-down"></i>
                            </label>
                        </div>
                    </div>
                </td>
                <td>
                    {{claim.NRESERVEAMOUNT}}
                </td>
                <td>
                    {{claim.SNROLETTER}}
                </td>
                <td></td>
                <td>
                    <div class="form-check" *ngIf="tipoTab == 1">
                        <input class="form-check-input position-static" type="checkbox" (change)="reserva($event, claim.NCOVER, i)" [disabled]="disabledCobertura  && posicion == i">
                    </div>
                </td>
                <td>
                    <button *ngIf="tipoTab == 1 && disabledCobertura && posicion == i" class="btn btn-busqueda mr-3"><i class="fa fa-trash"></i></button>
                    <button *ngIf="tipoTab == 2" class="btn btn-busqueda mr-3" (click)="openModalCobertura(1)"><i class="fa fa-edit"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row pb-4">
        <div class="col-sm-12" align="end">
            <button class="btn btn-success">Guardar</button>
        </div>
    </div>
</div>