<div class="row">
    <div *ngIf="!estadoForm" class="col-sm-12 mb-2">
        <button class="btn btn-danger"><i class="fa fa-close mr-2"></i>Rechazar</button>
    </div>
    <div class="col-sm-3 form-group">
        <label>Póliza</label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="col-sm-3 form-group">
        <label>Certificado</label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="col-sm-3 form-group">
        <label>Nro. de caso</label>
        <input type="text" class="form-control" disabled>
    </div>
    <div class="col-sm-3 form-group">
        <label>Nro. de siniestro</label>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 form-group">
        <label>Fecha de ocurrencia</label>
        <div class="input-group">
            <input type="text" class="form-control" disabled>
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label>Hora de ocurrencia</label>
        <div class="input-group">
            <input type="text" class="form-control" disabled>
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label>Causa del siniestro</label>
        <select class="form-control" disabled>
            <option>1</option>
          </select>
    </div>
    <div class="col-sm-3 form-group">
        <label>Moneda</label>
        <input type="text" class="form-control" disabled>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 form-group">
        <label>Fecha de denuncia</label>
        <div class="input-group">
            <input type="date" class="form-control" [disabled]="!estadoForm">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label>Hora de recepción</label>
        <div class="input-group">
            <input type="time" class="form-control" [disabled]="!estadoForm">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label>Fecha de apertura</label>
        <div class="input-group">
            <input type="date" class="form-control" [disabled]="!estadoForm">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 10px !important; border-top: 1px solid #ccc!important;">
    <div class="col-sm-6 form-group">
        <label>Afectado (siniestro)</label>
        <div class="input-group">
            <input type="text" class="form-control" [disabled]="!estadoForm">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-sm-3 form-group">
        <label>Tipo de ocupante</label>
        <select class="form-control" [disabled]="!estadoForm">
            <option>1</option>
          </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 form-group">
        <label>Tipo de atención</label>
        <select class="form-control" [disabled]="!estadoForm">
            <option>1</option>
          </select>
    </div>
    <div class="col-sm-3 form-group">
        <label>Diagnóstico</label>
        <select class="form-control" [disabled]="!estadoForm">
            <option>1</option>
          </select>
    </div>
    <div class="col-sm-3 form-group">
        <label>Fecha de fallecido</label>
        <div class="input-group">
            <input type="date" class="form-control" [disabled]="!estadoForm" >
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 form-group">
        <label>Siniestro equivalente</label>
        <input type="text" class="form-control"  [disabled]="!estadoForm">
    </div>
</div>
<div class="row" *ngIf="estadoForm">
    <div class="col-sm-12" align="end">
        <button class="btn btn-success mb-3">Guardar</button>
    </div>
</div>

<div class="row" *ngIf="!estadoForm">
    <div class="col-sm-3 form-group">
            <label>Motivo de rechazo</label>
            <select class="form-control" [disabled]="eliminado">
                <option>MOTIVO 1</option>
                <option>MOTIVO 2</option>
                <option>MOTIVO 3</option>
                <option>MOTIVO 4</option>
                <option>OTROS</option>
              </select>
    </div>
    <!-- <div class="col-sm-4 form-group">
        <label>Detalle de la observación</label>
        <input type="text" class="form-control">
    </div> -->
    <div class="col-sm-4 form-group" *ngIf="eliminado">
        <label>Fecha de rechazo</label>
        <div class="input-group">
            <input class="form-control" disabled>
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>

    <div [ngClass]="{'col-sm-9': eliminado == false, 'col-sm-5' : eliminado == true }" align="end">
        <button class="btn mr-2 mt-3" (click)="opcionVolver()">Volver</button>
        <button class="btn btn-success mt-3" (click)="eventoSiniestro()">Guardar</button>
    </div>
</div>
