.class_readonly{
    background-color: white !important
}

::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
}


.btn-danger:hover {
    background-color: #dc3545;
}

.btn-perso {
    cursor: default !important;
    border-radius: 20px;
    background-color: #b64545 !important;
    border-color: #b64545 !important;
    outline: none !important; /* Quita el resaltado al hacer clic */
    border: none !important;
}

.btn-perso:disabled {
    opacity: 1 !important;
  }


  .card-header{
    background-color: #2b0d61;
    color: #fff;
}

.card{
    border-radius: 0px;
}

.buttonN {
    justify-content: center;
    border: 1px solid rgb(129, 118, 157);
    border-radius: 2px;
    margin: 0px;
    background: #fff;
    padding: 8px 5px;
    min-width: 200px;
    height: 45px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.buttonN:hover {
    background-color: #2b0d61;
    color: #fff;
}

.buttonN:disabled {
    cursor: not-allowed;
    background-color: rgb(235, 235, 228);
    color: #666666;
}
