<!--**********************************************************************************************/
/*  NOMBRE              :   SINIESTROS.COMPONENT.HTML                                            */
/*  DESCRIPCIÓN         :   BROKER COMPONENTS                                                    */
/*  AUTOR               :   MATERIA GRIS - DIEGO ARMANDO GONZALES CHOCANO                        */
/*  FECHA               :   04-05-2023                                                           */
/*  VERSIÓN             :   1.0 - CARGAS MASIVAS SINIESTROS                                      */
/************************************************************************************************-->

<app-navbar></app-navbar>
<!-- TÍTULO -->
<div class="container mt-3">
    <div class="header-content">
        <div class="containt-item">
            <div class="header-item">
                <span class="title">Carga Masiva SOAT</span>
            </div>
        </div>
    </div>
</div>

<!-- FILTROS -->
<div class="body-carga-masiva mt-3">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <div class="row ml-4 mt-4 mb-4">
                    <div class="col-md-3">
                        <label>Tipo de Carga:</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control" [(ngModel)]="carga">
                            <option value="1">Nuevo</option>
                            <option value="2">Antiguo</option>
                        </select>
                    </div>
                    <div class="col-md-7"></div>
                </div>

                <div class="row ml-4 mt-4 mb-4">
                    <div class="col-md-3">
                        <label>Tipo de Trama:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" [(ngModel)]="apertura" (change)="onApertura($event.target.checked)" />
                        &nbsp;
                        <label>Apertura</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" [(ngModel)]="reserva" (change)="onReserva($event.target.checked)" />
                        &nbsp;
                        <label>Reserva</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" [(ngModel)]="liquidacion" (change)="onLiquidacion($event.target.checked)" />
                        &nbsp;
                        <label>Liquidación</label>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <div class="row ml-4 mt-4 mb-4">
                    <div class="col-md-3">
                        <button type="button" class="full-colorN" (click)="fileInput.click()">
                            <span>Cargar archivo</span>
                            <img class="icon-btn" src="assets/img/upload.png" />
                        </button>
                        <input hidden #fileInput type="file" (change)="onFileChange($event)" accept=".xlsx">
                    </div>
                    <div class="col-md-8">
                        <input [(ngModel)]="archivoNombre" disabled style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row mr-4 mt-4 mb-4">
                    <div class="col-md-6">
                        <button type="button" (click)="descargarReportePreliminar()" [disabled]="reporte_prel" [ngClass]="reporte_prel ? 'disabled' : 'full-colorN'">
                            <span>Reporte preliminar</span>
                            <img class="icon-btn" src="assets/img/download.png" />
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" (click)="onLimpiar()" class="full-colorN">
                            <span>Limpiar</span>
                        </button>
                    </div>
                </div>
                <div class="row mr-4 mt-4 mb-4">
                    <div class="col-md-6">
                        <button type="button" (click)="onPreliminar()" [disabled]="preliminar" [ngClass]="preliminar ? 'disabled' : 'full-color'">
                            <span>Preliminar</span>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" (click)="onDefinitivo()" [disabled]="definitivo" [ngClass]="definitivo ? 'disabled' : 'full-color'">
                            <span>Definitivo</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- GRILLA -->
<div class="body-carga-masiva mt-3">
    <div class="card">
        <div class="row m-2">
            <div class="col-sm-12">
                <span class="titleN">Preliminar</span>
            </div>
            <div class="grid form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="grid-title">
                                <td class="grid-title-item text-center">Nro Fila</td>
                                <td class="grid-title-item text-center">Nro Sin. Prov.</td>
                                <td class="grid-title-item text-center">Producto</td>
                                <td class="grid-title-item text-center">Póliza</td>
                                <td class="grid-title-item text-center">Nro Certificado</td>
                                <td class="grid-title-item text-center">Fecha Siniestro</td>
                                <td class="grid-title-item text-center">Observaciones</td>
                                <td class="grid-title-item text-center">
                                    <input type="checkbox" [(ngModel)]="booleanSelect" (change)="checkAll()" [disabled]="booleanDisabled" />
                                </td>
                            </tr>
                        </thead>
                        <ng-container *ngIf="listToShow == null || listToShow.length == 0; then hideGrid1 else showGrid"></ng-container>
                    </table>
                    <ng-template #hideGrid1>
                        <tbody>
                            <tr>
                                <td class="text-center" colspan="8">No se encontraron registros.</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <ng-template #showGrid>
                        <tbody *ngFor="let item of listToShow" style="cursor: pointer;">
                            <tr>
                                <td class="data-table-tr-td text-center">
                                    {{ item.NID_SOAT_OPE }}
                                </td>
                                <td class="data-table-tr-td text-center">
                                    {{ item.SNRO_SINIESTRO }}
                                </td>
                                <td class="data-table-tr-td text-center">
                                    {{ item.SPRODUCTO }}
                                </td>
                                <td class="data-table-tr-td text-center">
                                    {{ item.SNRO_POLIZA }}
                                </td>
                                <td class="data-table-tr-td text-center">
                                    {{ item.SCERTIFICADO }}
                                </td>
                                <td class="data-table-tr-td text-center">
                                    {{ item.SFECHA_SINIESTRO }}
                                </td>
                                <td [ngClass]="item.SDET_ERROR ? 'data-table-tr-td text-center onHover' : 'null'" (click)="mostrarModalErrores(contentError, item);">
                                    {{ item.SDET_ERROR }}
                                </td>
                                <td class="data-table-tr-td text-center">
                                    <input type="checkbox" [(ngModel)]="item.IS_SELECTED" (change)="checkItem()" [disabled]="item.SDET_ERROR ? true : false" />
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </div>
            </div>
            <div [hidden]="!isLoading" class="loadingScreen">
                <div style="display: flex; height: 100%; width: 100%">
                    <i style="margin: auto; font-size: 50px" class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div *ngIf="listToShow != null && listToShow.length > 0" class="row" style="display: flex">
                <div class="col-sm-12">
                    <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems" [maxSize]="maxSize" (pageChange)="pageChanged(currentPage)">
                        <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                        <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE ERRORES -->
<ng-template #contentError let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            ERRORES
        </h4>
    </div>

    <div class="modal-body">
        <div class="card">
            <div class="row m-2">
                <div class="col-sm-12">
                    <span class="titleM">Nro. Siniestro Prov: {{ numero_siniestro }}</span>
                </div>
                <div class="grid form-group">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="grid-title">
                                    <td class="grid-title-item text-center">LÍNEA DE REGISTRO</td>
                                    <td class="grid-title-item text-center">ERROR</td>
                                </tr>
                            </thead>
                            <ng-container *ngIf="listToShowError == null || listToShowError.length == 0; then hideGrid else showGrid"></ng-container>
                        </table>
                        <ng-template #hideGrid>
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="2">No se encontraron errores.</td>
                                </tr>
                            </tbody>
                        </ng-template>
                        <ng-template #showGrid>
                            <tbody *ngFor="let item of listToShowError" style="cursor: pointer;">
                                <tr>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.SLINE_REGISTRO }}
                                    </td>
                                    <td class="data-table-tr-td text-center">
                                        {{ item.SMESSAGE_ERROR }}
                                    </td>
                                </tr>
                            </tbody>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="listToShowError != null && listToShowError.length > 0" class="row" style="display: flex">
                    <div class="col-sm-12">
                        <ngb-pagination [(page)]="currentPageError" [pageSize]="itemsPerPageError" [collectionSize]="totalItemsError" [maxSize]="maxSizeError" (pageChange)="pageChangedError(currentPageError)">
                            <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                            <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary buttonN" (click)="modal.dismiss('Cross click')">
            OK
        </button>
    </div>
</ng-template>