::ng-deep .my-class .modal-dialog { 
    max-width: 80% !important;
}

.card-header{
    background-color: #2b0d61;
    color: #fff;
}
.cls_input {background-color: white !important; }

.table_fp tr:hover {
    background-color: #1967d2;
    color: white;
  }

