<div class="modal-header w-100">
    <h4 class="modal-title" id="modal-basic-title">Cobertura: Gastos de curación</h4>
    <button type="button" aria-label="Close" (click)="closeModal()" style="cursor: pointer;">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body w-100">
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Caso</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Nro. de siniestro</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Póliza</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Placa</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Pendiente por pagar</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-6 form-group">
            <label>Siniestrado</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Fecha de denuncia</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Fecha de apertura</label>
            <div class="input-group">
                <input type="text" class="form-control" disabled>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 form-group">
            <label>Documento (RUC)</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-6 form-group">
            <label>Razón social</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Código de diagnóstico (CIE10)</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-6 form-group">
            <label>Diagnóstico (CIE10)</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Especialidad</label>
            <input type="text" class="form-control">
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12"
            style="padding-top: 10px !important; padding-bottom: 10px !important; border-top: 1px solid #ccc!important;">
            <h3>Datos del comprobante</h3>
        </div>
        <div class="col-sm-3 form-group">
            <label>Nro. de factura</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
            <label>Fecha emisión de factura</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3 form-group">
            <label>Fecha recepción de factura</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Base imponible</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
            <label>IGV</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-sm-3 form-group">
            <label>Total de comprobante</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Tipo de pago</label>
            <select class="form-control">
                <option>Transferencia</option>
            </select>
        </div>
        <div class="col-sm-3 form-group">
            <label>Banco</label>
            <select class="form-control">
                <option>Banco de crédito</option>
            </select>
        </div>
        <div class="col-sm-3 form-group">
            <label>Nro. de cuenta</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Observaciones</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-3 form-group">
            <label>Nro. de factura</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" align="end">
            <button class="btn btn-success mb-3">Guardar</button>
        </div>
    </div>
</div>