<div class="modal-header w-100">
    <!-- objBeneficiarioModel -->
    <h4 *ngIf="origen == 1" class="modal-title" id="modal-basic-title">INGRESAR AFECTADO</h4>
    <h4 *ngIf="origen == 2" class="modal-title" id="modal-basic-title">INGRESAR BENEFICIARIO</h4>
    <h4 *ngIf="origen == 3" class="modal-title" id="modal-basic-title">EDITAR BENEFICIARIO</h4>
    <button type="button" aria-label="Close" (click)="closeModal()" style="cursor: pointer;">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body w-100">
    <form [formGroup]="form">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tipo Documento(*)</label>
                <div class="col-sm-4">
                    <select class="form-control" 
                        formControlName="P_NIDDOC_TYPE" 
                        [ngClass]="{'is-invalid': form.get('P_NIDDOC_TYPE').invalid && form.get('P_NIDDOC_TYPE').touched}"
                        (change)="tipoDocumentoSeleccion()">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let documento of objBeneficiarioModel.lstTipoDoc" [value]="documento.Codigo">{{documento.Descripcion}}</option>
                        <!-- <option *ngFor="let documento of documentos" [value]="documento.id">{{documento.nombre}}</option> -->
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Nro Documento(*)</label>
                <div class="col-sm-4">
                    <input class="form-control" placeholder="Nro Documento" formControlName="P_SIDDOC" [ngClass]="{'is-invalid': form.get('P_SIDDOC').invalid && form.get('P_SIDDOC').touched}">
                </div>
            </div>
            <div class="form-group row" *ngIf="showApellidos">
                <label class="col-sm-2 col-form-label">Apellido Paterno(*)</label>
                <div class="col-sm-4">
                    <input class="form-control" placeholder="Apellido Paterno" formControlName="P_SLASTNAME" [ngClass]="{'is-invalid': form.get('P_SLASTNAME').invalid && form.get('P_SLASTNAME').touched}">
                </div>
                <label class="col-sm-2 col-form-label">Apellido Materno(*)</label>
                <div class="col-sm-4">
                    <input class="form-control" placeholder="Apellido Materno" formControlName="P_SLASTNAME2" [ngClass]="{'is-invalid': form.get('P_SLASTNAME2').invalid && form.get('P_SLASTNAME2').touched}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{labelNombres}}(*)</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Nombres" formControlName="P_SFIRSTNAME" [ngClass]="{'is-invalid': form.get('P_SFIRSTNAME').invalid && form.get('P_SFIRSTNAME').touched}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Fecha Nacimiento(*)</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" formControlName="P_DBIRTHDAT" [ngClass]="{'is-invalid': form.get('P_DBIRTHDAT').invalid && form.get('P_DBIRTHDAT').touched}">
                </div>
                <label class="col-sm-2 col-form-label">Sexo(*)</label>
                <div class="col-sm-4">
                    <select class="form-control" formControlName="P_SSEXCLIEN" [ngClass]="{'is-invalid': form.get('P_SSEXCLIEN').invalid && form.get('P_SSEXCLIEN').touched}">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let sexo of objBeneficiarioModel.lstSexo" [value]="sexo.Codigo">{{sexo.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Estado Civil(*)</label>
                <div class="col-sm-4">
                    <select class="form-control" formControlName="P_NCIVILSTA" [ngClass]="{'is-invalid': form.get('P_NCIVILSTA').invalid && form.get('P_NCIVILSTA').touched}">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let estado of objBeneficiarioModel.lstEstadoCivil" [value]="estado.Codigo">{{estado.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Nacionalidad(*)</label>
                <div class="col-sm-4">
                    <select class="form-control" formControlName="P_NNATIONALITY" [ngClass]="{'is-invalid': form.get('P_NNATIONALITY').invalid && form.get('P_NNATIONALITY').touched}">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let nacionalidad of objBeneficiarioModel.lstNacionalidad" [value]="nacionalidad.Codigo">{{nacionalidad.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tipo Vía(*)</label>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="P_STI_DIRE" [ngClass]="{'is-invalid': form.get('P_STI_DIRE').invalid && form.get('P_STI_DIRE').touched}">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let tipoVia of objBeneficiarioModel.lstTipoVia" [value]="tipoVia.Codigo">{{tipoVia.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Dirección(*)</label>
                 <div class="col-sm-6">
                    <input class="form-control" placeholder="Dirección" formControlName="P_SNOM_DIRECCION" [ngClass]="{'is-invalid': form.get('P_SNOM_DIRECCION').invalid && form.get('P_SNOM_DIRECCION').touched}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Número(*)</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Nro." formControlName="P_SNUM_DIRECCION" [ngClass]="{'is-invalid': form.get('P_SNUM_DIRECCION').invalid && form.get('P_SNUM_DIRECCION').touched}">
                </div>
                <label class="col-sm-2 col-form-label">Pref. Depart.</label>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="P_STI_INTERIOR">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let interior of objBeneficiarioModel.lstTipoInt" [value]="interior.Codigo">{{interior.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Interior</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Int." formControlName="P_SNUM_INTERIOR">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Manzana</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Mz." formControlName="P_SMANZANA">
                </div>
                <label class="col-sm-2 col-form-label">Lote</label>
                <div class="col-sm-2">
                    <input class="form-control" placeholder="Lt." formControlName="P_SLOTE">
                </div>
                <label class="col-sm-2 col-form-label">Etapa</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Etapa" formControlName="P_SETAPA">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Conj. Hab. </label>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="P_STI_CJHT">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let conHab of objBeneficiarioModel.lstConHab" [value]="conHab.Codigo">{{conHab.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Nom. Conj. Hab.</label>
                 <div class="col-sm-6">
                    <input class="form-control" placeholder="Nombre de Conjunto Habitacional" formControlName="P_SNOM_CJHT">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Bloque/ Chalet</label>
                 <div class="col-sm-2">
                    <select class="form-control" formControlName="P_STI_BLOCKCHALET">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let bloque of objBeneficiarioModel.lstBloque" [value]="bloque.Codigo">{{bloque.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Num./ Let</label>
                <div class="col-sm-2">
                    <input class="form-control" placeholder="Num./ Let" formControlName="P_SBLOCKCHALET">
                </div>
                <label class="col-sm-2 col-form-label">Referencia</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Referencia" formControlName="P_SREFERENCIA">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Departamento(*)</label>
                 <div class="col-sm-2">
                    <select class="form-control" formControlName="P_NPROVINCE" (change)="changeDepartamento()"
                    [ngClass]="{'is-invalid': form.get('P_NPROVINCE').invalid && form.get('P_NPROVINCE').touched}">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let departamento of objBeneficiarioModel.lstDepartamento" [value]="departamento.Codigo">{{departamento.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Provincia(*)</label>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="P_NLOCAL"  (change)="changeProvincia()"
                    [ngClass]="{'is-invalid': form.get('P_NLOCAL').invalid && form.get('P_NLOCAL').touched}">
                        <option *ngIf="provincias.length == 0" value="0">SELECCIONAR</option>
                        <option *ngFor="let provincia of provincias" [value]="provincia.codigo">{{provincia.descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Distrito(*)</label>
                 <div class="col-sm-2">
                    <select class="form-control" formControlName="P_NMUNICIPALITY" [ngClass]="{'is-invalid': form.get('P_NMUNICIPALITY').invalid && form.get('P_NMUNICIPALITY').touched}"> 
                        <option *ngIf="distritos.length == 0" value="0">SELECCIONAR</option>
                        <option *ngFor="let distrito of  distritos" [value]="distrito.codigo">{{distrito.descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Código</label>
                 <div class="col-sm-2">
                    <select class="form-control" formControlName="P_NAREA_CODE">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let area of objBeneficiarioModel.lstArea" [value]="area.Codigo">{{area.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Teléfono Domiciliario</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Teléfono Domiciliario" formControlName="telefDom">
                </div>
                <label class="col-sm-2 col-form-label">Celular</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Celular" formControlName="celular">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Teléfono Oficina</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Teléfono Oficina" formControlName="telefOfic">
                </div>
                <label class="col-sm-2 col-form-label">Anexo</label>
                 <div class="col-sm-2">
                    <input class="form-control" placeholder="Anexo" formControlName="anexo">
                </div>
                <label class="col-sm-2 col-form-label">Correo</label>
                 <div class="col-sm-2 pl-0">
                    <input class="form-control" placeholder="Correo" formControlName="P_SE_MAIL" [(ngModel)]="correo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Forma de Pago</label>
                <div class="col-sm-4">
                    <select class="form-control" formControlName="viaPago" [ngClass]="{'is-invalid': form.get('viaPago').invalid && form.get('viaPago').touched}">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let viaPago of objBeneficiarioModel.lstViaPago" [value]="viaPago.Codigo">{{viaPago.Descripcion}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header py-2">
                            <h5>Datos de cuentas bancarias</h5>
                        </div>
                        <div class="card-body py-1">
                            <div class="mt-3 pb-4">
                                <div>
                                    <table class="table table-striped w-100">
                                        <thead>
                                            <tr>
                                                <th scope="col">Banco</th>
                                                <th scope="col">Tipo De Cuenta</th>
                                                <th scope="col">Nro. De Cuenta</th>
                                                <th scope="col">Nro. Cuenta CCI</th>
                                                <th scope="col">Moneda</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="listBank.length > 0">
                                            <tr *ngFor="let bank of listBank; let i = index">
                                                <td>{{bank.Banco}}</td>
                                                <td>{{bank.TipoCuenta}}</td>
                                                <td>{{bank.NroCuenta}}</td>
                                                <td>{{bank.NroCuentaCCI}}</td>
                                                <td>
                                                    {{bank.SMoneda}}
                                                </td>
                                                <td>
                                                    <i *ngIf="bank.Modifica == '0'" class="fa fa-edit" style="cursor: pointer;" (click)="editCuentaBancaria(bank, i)"></i>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="listBank.length == 0" class="row">
                                        <div class="col-sm-12 text-center mt-2">
                                            No hay cuentas bancarias registradas.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            
            <!--     <label class="col-sm-2 col-form-label">Banco</label>
                <div class="col-sm-4">
                    <select class="form-control" formControlName="banco">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let banco of objBeneficiarioModel.lstBanco" [value]="banco.Codigo">{{banco.Descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Tipo Cuenta</label>
                <div class="col-sm-4">
                    <select class="form-control" formControlName="tipoCuenta">
                        <option value="">(SELECCIONE)</option>
                        <option *ngFor="let tipoCta of objBeneficiarioModel.lstTipoCuenta" [value]="tipoCta.Codigo">{{tipoCta.Descripcion}}</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label">Nro Cuenta</label>
                <div class="col-sm-4">
                    <input class="form-control" type="number" placeholder="Nro Cuenta" formControlName="nroCuenta" maxlength="15">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nro De Cuenta CCI</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" appOnlyNumber placeholder="Nro De Cuenta CCI" formControlName="nroCuentaCCI" maxlength="30">
            </div>
            </div> -->
    </form>
    <div class="row mt-3">
        <div class="col-sm-12" align="end">
            <button class="buttonN" (click)="saveBeneficiario()">Agregar</button>
            <button class="buttonN ml-2" (click)="openCuentaBancaria()">Agregar Cuenta B.</button>
        </div>
    </div>
</div>