/* You can add global styles to this file, and also import other style files */
.ng-select div, .ng-select input, .ng-select span {
 
    font-weight: normal !important;
  }


  body{
    font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

