/* You can add global styles to this file, and also import other style files */
.ng-select div, .ng-select input, .ng-select span {
 
    font-weight: normal !important;
  }


  body{
    font-family: 'Bliss Pro', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Bliss Pro, "Helvetica Neue", sans-serif !important; }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.btn-busqueda{
  background-color: rgb(235, 156, 9);
  color: white
}


input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
}


input{
  text-transform: uppercase !important;
}

.btn-success {
  background-color: #3baa55;
  border-color: #3baa55;
}

.empujar{
  margin-left: 350px;
  transition: margin-left 0.5s ease;
}

.restaurar{
  margin-left: 0px;
  transition: margin-left 0.5s ease;
}