<div class="modal-header w-100">
    <h4 *ngIf="origen == 1" class="modal-title" id="modal-basic-title">BUSCAR AFECTADO</h4>
    <h4 *ngIf="origen == 2" class="modal-title" id="modal-basic-title">BUSCAR BENEFICIARIO</h4>
    <button type="button" aria-label="Close" (click)="closeModal()" style="cursor: pointer;">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body w-100">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Apellido Paterno</label>
            <input class="form-control" [(ngModel)]="buscador.SPATERNAL_LASTNAME">
        </div>
        <div class="col-sm-6 form-group">
            <label>Apellido Materno</label>
            <input class="form-control" [(ngModel)]="buscador.SMATERNAL_LASTNAME">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Nombre o Razón Social</label>
            <input class="form-control" [(ngModel)]="buscador.SNAME">
        </div>
        <div class="col-sm-4 form-group">
            <label>Número de documento</label>
            <input class="form-control" [(ngModel)]="buscador.SNRODOCUMENT">
        </div>
        <div class="col-sm-2">
            <button class="buttonN mt-4" (click)="buscadorBeneficiario()">
                <i class="fa fa-search mr-1"></i> Buscar
            </button>
        </div>
    </div>
    <table class="table w-100">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">
                    <span *ngIf="origen == 1">Afectado</span>
                    <span *ngIf="origen == 2">Beneficiario</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let beneficiario of listaBeneficiarios; let i = index" style="cursor: pointer;" (click)="selectBeneficiario(beneficiario)" [ngClass]="{'seleccion_fila': beneficiarioSeleccion == listaBeneficiarios[i] }">
                <td>{{beneficiario.SCODE}}</td>
                <td>{{beneficiario.SNAME}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="beneficiarioResponse.ListBeneficiaries != undefined">
        <ngb-pagination [collectionSize]="beneficiarioResponse.ListBeneficiaries.length" [(page)]="pagina" [maxSize]="10" [boundaryLinks]="true" (pageChange)="changePagina($event)"></ngb-pagination>
    </div>
    <div class="row">
        <div class="col-sm-12" align="end">
            <button class="buttonN" (click)="limpiarBeneficiario()">Limpiar</button>
            <button class="buttonN ml-2" (click)="openBeneficiario()">Nuevo</button>
            <button class="buttonN ml-2"  (click)="agregarBeneficiario()">Agregar</button>
        </div>
    </div>
</div>